<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doner Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<form method="POST" th:action="@{/orders}" th:object="${order}">
    <h1>Order your doner creations!</h1>
    <img th:src="@{/images/DonerCloud.jpg}" alt="doner cloud"/>
    <h3>Your doner in this order:</h3>
    <a th:href="@{/design}" id="another">Design another doner</a><br/>
    <ul>
        <li th:each="doner : ${order.doners}">
            <span th:text="${doner.name}">doner name</span></li>
    </ul>
    <h3>Deliver my doner masterpieces to...</h3>
    <label for="deliveryName">* Name: </label>
    <input type="text" th:field="*{delivery.name}" id="deliveryName" required/>
    <span class="validationError" th:if="${#fields.hasErrors('delivery.name')}" th:errors="*{delivery.name}">Delivery Name Error</span>
    <br/>
    <label for="deliveryStreet">* Street address: </label>
    <input type="text" th:field="*{delivery.street}" id="deliveryStreet" required/>
    <span class="validationError" th:if="${#fields.hasErrors('delivery.street')}" th:errors="*{delivery.street}">Delivery Street Error</span>
    <br/>
    <label for="deliveryCity">* City: </label>
    <input type="text" th:field="*{delivery.city}" id="deliveryCity" required/>
    <span class="validationError" th:if="${#fields.hasErrors('delivery.city')}" th:errors="*{delivery.city}">Delivery City Error</span>
    <br/>
    <label for="deliveryState">* State: </label>
    <input type="text" th:field="*{delivery.state}" id="deliveryState" required/>
    <span class="validationError" th:if="${#fields.hasErrors('delivery.state')}" th:errors="*{delivery.state}">Delivery State Error</span>
    <br/>
    <label for="deliveryZip">* Zip code: </label>
    <input type="text" th:field="*{delivery.zip}" id="deliveryZip" required/>
    <span class="validationError" th:if="${#fields.hasErrors('delivery.zip')}" th:errors="*{delivery.zip}">Delivery Zip Error</span>
    <br/>
    <h3>Here’s how I’ll pay...</h3>
    <label for="creditCard.number">* Credit Card #: </label>
    <input type="text" th:field="*{creditCard.number}" id="creditCard.number" required/>
    <span class="validationError" th:if="${#fields.hasErrors('creditCard.number')}" th:errors="*{creditCard.number}">CC Num Error</span>
    <br/>
    <label for="ccExpiration">* Expiration: </label>
    <input type="text" th:field="*{creditCard.expiration}" id="ccExpiration" required/>
    <span class="validationError" th:if="${#fields.hasErrors('creditCard.expiration')}" th:errors="*{creditCard.expiration}">CC Exp Error</span>
    <br/>
    <label for="ccCVV">* CVV: </label>
    <input type="text" th:field="*{creditCard.cvv}" id="ccCVV" required/>
    <span class="validationError" th:if="${#fields.hasErrors('creditCard.cvv')}" th:errors="*{creditCard.cvv}">CC CVV Error</span>
    <br/>
    <input type="submit" value="Submit Order"/>
</form>
</body>
</html>